{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": "./.release-rules.js"
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/github", {
      "assets": {
        "label": "useSharedState",
        "path": [
          "dist/**/*", 
          "CHANGELOG.md", 
          "README.md", 
          "LICENSE"
        ]
      }
    }],
    "@semantic-release/git"
  ]
}
